* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("photos/BACK.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 204, 142);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a #logo {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}
.top ul li {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}
.top ul li a {
  color: rgb(67, 67, 67);
  transition: 0.5s;
  text-decoration: none;
}
.top ul li a:hover {
  color: rgb(0, 0, 0);
  font-size: 17px;
}

#logo {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

header div ul {
  display: flex;
  gap: 15px;
}
header div ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  list-style: none;
  display: flex;
}
header div ul li a {
  color: black;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  width: 650px;
  height: 650px;
  background-color: rgb(255, 186, 102);
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  box-shadow: 10px 10px 5px 5px rgb(51, 59, 62);
}
.sign .img1 {
  width: 320px;
  height: 650px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-image: url(photos/gif.gif);
}
.sign .img1 h1 {
  color: #ffffff;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.sign .img1 .icons i {
  font-size: 40px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 505px;
  gap: 20px;
}

.fa-facebook {
  color: rgb(44, 67, 242);
}

.fa-google {
  color: rgb(255, 0, 0);
}

.input {
  margin-top: 150px;
}
.input form label {
  margin-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(92, 153, 197);
  font-size: 25px;
  font-weight: 700;
}
.input form input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(94, 94, 94);
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.reg {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin-top: -150px;
  gap: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin-bottom: 150px;
}
.reg #in {
  background-color: rgb(174, 223, 255);
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.reg #up {
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

button {
  padding: 25px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0px;
  margin-left: 65px;
  margin-top: 40px;
  background-color: rgb(174, 223, 255);
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
}

#mess a i {
  font-size: 50px;
  color: rgb(0, 140, 255);
  position: fixed;
  right: 0px;
  margin-right: 50px;
  bottom: 0px;
  margin-bottom: 90px;
}

/*# sourceMappingURL=signin.css.map */
